{{> header }}

<div class="container">
    <h1>Dashboard</h1>
    <br><br>
    <div>
        <a class="btn btn-primary" href="/meeting" role="button">Create Meeting</a>
    </div>
    <br>
    <div>
        <input type="text" name="meetingID" placeholder="Meeting ID">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</div>