{{> header }}

<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#page-top">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#details">Details</a>
        </li>
    </ul>
</div>

</nav>

{{> toggle }}
<div id="page-content-wrapper">

        <header class="bg-primary text-white">
            <div class="container">
                <h1>Dashboard</h1>
                <br>
            </div>
        </header>

        <section id="details">

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <h5 class="card-header text-white bg-dark">User Profile</h5>
                        <div class="card-body container">
                            <table id="user_info" class="table">
                                <tbody>
                                    <tr>
                                        <td>User ID</td><td></td>
                                    </tr>
                                    <tr>
                                        <td>Full Name</td><td></td>
                                    </tr>
                                    <tr>
                                        <td>Username</td><td></td>
                                    </tr>
                                    <tr>
                                        <td>Email</td><td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <h5 class="card-header text-white bg-dark">Meetings Hosted</h5>
                        <div class="card-body">
                            <table id="meeting_hosted" class="table table-striped">
                                <thead class="thead-dark">
                                    <th>Meeting ID</th>
                                    <th>Title</th>
                                    <th>URL</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <h5 class="card-header text-white bg-dark">Meeting Participations</h5>
                        <div class="card-body">
                            <table id="meeting_participated" class="table table-striped">
                                <thead class="thead-dark">
                                <th>Meeting ID</th>
                                <th>Date</th>
                                <th>Preferred Start</th>
                                <th>URL</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <h5 class="card-header text-white bg-dark">Meeting Invites</h5>
                        <div class="card-body">
                            <table id="meeting_invite" class="table table-striped">
                                <thead class="thead-dark">
                                <th>Inviter Username</th>
                                <th>URL</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>

        </section>
</div>

{{> footer }}

<script>

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/getUserInfo", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    var params = {
        "id": window.location.href.split("/")[window.location.href.split("/").length-1]
    };

    xhttp.send(JSON.stringify(params));
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.responseText) {
            console.log(JSON.parse(this.responseText));
            var response = JSON.parse(this.responseText);
            var options = response.options;
            var table = document.getElementById('user_info');
            var targetCol;

            options.forEach(function (option) {
                targetCol = table.rows[0].cells[1]; //first column
                targetCol.innerHTML = option.id; // or anything you want to do with first col

                targetCol = table.rows[1].cells[1]; //first column
                targetCol.innerHTML = option.fullName; // or anything you want to do with first col

                targetCol = table.rows[2].cells[1]; //first column
                targetCol.innerHTML = option.username; // or anything you want to do with first col

                targetCol = table.rows[3].cells[1]; //first column
                targetCol.innerHTML = option.email; // or anything you want to do with first col
            });

        }
    };

    var xhttp2 = new XMLHttpRequest();
    xhttp2.open("POST", "/getUserHost", true);
    xhttp2.setRequestHeader("Content-type", "application/json");
    var params = {
        "id": window.location.href.split("/")[window.location.href.split("/").length-1]
    };

    xhttp2.send(JSON.stringify(params));
    xhttp2.onreadystatechange = function() {
        if (this.readyState == 4 && this.responseText) {
            console.log(JSON.parse(this.responseText));
            var response = JSON.parse(this.responseText);
            var options = response.options;
            var table = document.getElementById('meeting_hosted');
            var row;
            var hrefVal;
            var hrefInner;
            options.forEach(function (option) {
                hrefVal = option.extension;
                hrefInner = `<a href="/meeting/${hrefVal}"> ${hrefVal} </a>`;
                row = table.insertRow(-1);
                row.insertCell(0).innerHTML = option.id;
                row.insertCell(1).innerHTML = option.title;
                row.insertCell(2).innerHTML = hrefInner;
            });

        }
    };

    var xhttp3 = new XMLHttpRequest();
    xhttp3.open("POST", "/getUserInvites", true);
    xhttp3.setRequestHeader("Content-type", "application/json");
    var params = {
        "id": window.location.href.split("/")[window.location.href.split("/").length-1]
    };

    xhttp3.send(JSON.stringify(params));
    xhttp3.onreadystatechange = function() {
        if (this.readyState == 4 && this.responseText) {
            console.log(JSON.parse(this.responseText));
            var response = JSON.parse(this.responseText);
            var options = response.options;
            var table = document.getElementById('meeting_invite');
            var row;
            var hrefVal;
            var hrefInner;

            options.forEach(function (option) {
                hrefVal = option.MeetingID;
                hrefInner = `<a href="/meeting/${hrefVal}"> ${hrefVal} </a>`;
                row = table.insertRow(-1);
                row.insertCell(0).innerHTML = option.InviterUsername;
                row.insertCell(1).innerHTML = hrefInner;
            });

        }
    };

    var xhttp4 = new XMLHttpRequest();
    xhttp4.open("POST", "/getUserParticipation", true);
    xhttp4.setRequestHeader("Content-type", "application/json");
    var params = {
        "id": window.location.href.split("/")[window.location.href.split("/").length-1]
    };

    xhttp4.send(JSON.stringify(params));
    xhttp4.onreadystatechange = function() {
        if (this.readyState == 4 && this.responseText) {
            console.log(JSON.parse(this.responseText));
            var response = JSON.parse(this.responseText);
            var options = response.options;
            var table = document.getElementById('meeting_participated');
            var row;
            var hrefVal;
            var hrefInner;

            options.forEach(function (option) {
                hrefVal = option.extension;
                hrefInner = `<a href="/meeting/${hrefVal}"> ${hrefVal} </a>`;
                row = table.insertRow(-1);
                row.insertCell(0).innerHTML = option.meetingID;
                row.insertCell(1).innerHTML = option.date;
                row.insertCell(2).innerHTML = option.preferred;
                row.insertCell(3).innerHTML = hrefInner;
            });

        }
    };

</script>
{{> footer-end }}