{{> header }}

<div class="container">
    <h2 class="header2">
        What is this project?
    </h2>
    <br>
    <h4>The Task</h4>
    <p>
        I have been tasked to identify an existing problem and use all the knowledge and skills i have learnt over the last 3 years to come up with and
        create an efficient solution.
    </p>

    <h4>The Problem</h4>
    <p>
        There are already existing solutions to the problem of meeting scheduling, however there is one flaw across the board which none have dealt
        with. All existing solutions are very rigid in the times they provide, whereby the organiser has to preset interval times when setting up
        the polls, and invitees choose based on these options. there is no fluidity and flexibility with the choices.
        <br><br>

        <img src="../public/Images/doodle.png" class="center fit" alt="doodle interface">
        <p class="text-center imageCaption">Screenshot of the Doodle intrface and brief show of usability</p>
    </p>

    <h4>The Solution</h4>
    <p>
        This webiste aims to solve the rigidness of existing alternatives by allowing users to state their preferences to the minute, aswell as
        provide their flexibility, all of which is taken into consideration when planning the time for the meeting.
    </p>

    <h4>How To</h4>
    <p>

    </p>
</div>

{{> footer-end }}