{{> header }}

<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#page-top">Homepage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#the_task">The Task</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#the_problem">The Problem</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#the_solution">The Solution</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#how_to">How To</a>
        </li>
    </ul>
</div>

</nav>

{{> toggle }}
<div id="page-content-wrapper">

    <header class="bg-primary text-white">
        <div class="container text-center">
            <h2 class="header1">
                Homepage
            </h2>
            <p class="lead">What is this Project?</p>
        </div>
    </header>

    <section id="the_task">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h4 class="header2 text-center">The Task</h4>
                    <p>
                        I have been tasked to identify an existing problem and use all the knowledge and skills i have learnt over the last 3 years to come up with and
                        create an efficient solution.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="the_problem" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h4 class="header2 text-center">The Problem</h4>
                    <p>
                        There are already existing solutions to the problem of meeting scheduling, however there is one flaw across the board which none have dealt
                        with. All existing solutions are very rigid in the times they provide, whereby the organiser has to preset interval times when setting up
                        the polls, and invitees choose based on these options. There is no fluidity and flexibility with the choices.
                        <br><br>

                        <img src="../public/Images/doodle.png" class="center fit" alt="doodle interface">
                        <p class="text-center imageCaption">Screenshot of the Doodle intrface and brief show of usability</p>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="the_solution">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h4 class="header2 text-center">The Solution</h4>
                    <p>
                        This webiste aims to solve the rigidness of existing alternatives by allowing users to state their preferences to the minute, aswell as
                        provide their flexibility, all of which is taken into consideration when planning the time for the meeting.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="how_to" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h4 class="header2 text-center">How To</h4>
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </section>


</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
{{> footer }}
{{> footer-end }}