{{> header }}

        <div class="container">

            <h1>{{title}}</h1>

            {{#if errors}}
                {{#each errors}}
                    <div class="alert alert-danger">
                        {{this.msg}}
                    </div>
                {{/each}}
            {{/if}}

            <form>
                <div class="form-group">
                    <label for="meeting_title">Meeting Title</label>
                    <input type="text" class="form-control" name="meeting_title" placeholder="Title">
                </div>

                <div class="form-group">
                    <label for="meeting_description">Description </label>
                    <textarea class="form-control" name="meeting_description" rows="2" placeholder="Description"></textarea>
                </div>

                <div class="form-group">
                    <label for="meeting_location">Location</label>
                    <input type="text" class="form-control" name="meeting_location" placeholder="Location">
                </div>

                <div class="container">
                </div>

                <div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="privacy" onclick="showHidePass()"> Private</label>
                    </div>
                    <div id="meetingPasswordDiv" style="display: none;">
                        <label for="meeting_password">Meeting Password</label>
                        <input type="text" class="form-control" id="hidden_field" name="meeting_password" placeholder="Password">
                    </div>
                </div>

                <br>

                <div id="meeting_option" class="form-group">
                    <div class="input-group date form-group" data-provide="datepicker">
                        <label for="date">Meeting Date
                        <input type="date" id="date">
                        </label>
                    </div>
                    <br>
                    <div class="input-group clockpicker form-group">
                        <label for="start_time">Lowerbound Time
                        <input type="time" name="start_time" id="start_time" value="09:00"></label>
                    </div>
                    <br>
                    <div class="input-group clockpicker form-group">
                        <label for="end_time">Upperbound Time
                        <input type="time" name="end_time" id="end_time" value="17:00"></label>
                    </div>
                </div>
                <br>
                <div id="create">
                    <button onClick="createDiv()" class="btn btn-secondary">New Option</button>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


        </div>

        <script>
            var dateCounter = 1;

            function showHidePass() {
                if (document.getElementById('privacy').checked)
                {
                    document.getElementById('meetingPasswordDiv').style.display = 'block';
                } else {
                    document.getElementById('meetingPasswordDiv').style.display = 'none';
                }

            }

            function createDiv() {
                var div = document.createElement('div');
                div.innerHTML = document.getElementById('meeting_option').innerHTML;
                document.getElementById("meeting_option").appendChild(div);
            }

        </script>
    </body>
</html>